<%- include('./partials/head') %> 
  <body class="body-det">
    <%- include('./partials/header') %> 
    <div class="container">
        <h1 class="col-12 title-form"> Crear producto </h1>
        <div class="row col-12">
            <div class="form-create col-12">
                <form class="col-12" method="POST" action="/products/create" enctype ="multipart/form-data">
                    <label class="label-create col-12" for="id">Id</label><br>
                    <input class="input-create col-12 col-md-3" type="text" name="id"><br>
                    <label class="label-create col-12" for="name">Nombre</label><br>
                    <input class="input-create col-12 col-md-3" type="text" name="name"><br>
                    <label class="label-create col-12" for="description">Descripción</label><br>
                    <input class="input-create col-12 col-md-3" type="text" name="description"><br>
                    <label class="label-create col-12" for="price">Precio</label><br>
                    <input class="input-create col-12 col-md-3" type="text" name="price"><br>
                    <label class="label-create col-12" for="discount">Descuento</label><br>
                    <input class="input-create col-12 col-md-3" type="text" name="discount"><br>
                    <label class="label-create col-12" for="category">Categoría</label><br>
                    <input class="input-create col-12 col-md-3" type="text" name="category"><br>
                    <label class="label-create col-12" for="image">Imagen del producto</label><br>
                    <input class="input-create col-12 col-md-3" type="file" name="image"><br><br>
                    <button class="btn-create col-12 col-md-3" type="submit">Crear producto</button><br>
                    <button class="btn-create col-12 col-md-3" type="reset">Borrar formulario</button>                
                </form>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %> 
    </body> 
</html>