<header class="header">
    <div class="container header">
      <div class="row">

        <div class="logo col-5 col-md-2">
          <img src="/images/logo-mercado-liebre.svg">
        </div>
        
        <div class="busqueda col-6">
          <input  type="text" placeholder="Buscar productos, marcas y más">
          <button type="submit"><i class="fas fa-search"></i></button>
        </div>

        <div class="compra-cuotas col-12 col-md-4">
          <a href="#">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito</a>
        </div>

         <!-- Hamburguer menu --> 
        <div class="btn-toggle-navbar">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-1">
            <ul class="menu-ppal">
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
            
            <ul class="menu-der">
              <li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
              <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
              <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark">
            <button class="navbar-toggler btn-nav-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        </div>

        <!-- Menu md y lg --> 
        <div class="main-navbar container">
          <div class="row">
            <ul class="left-navbar">
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
    
            <ul class="right-navbar">
              <li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
              <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
              <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
          </div>
        </div>



      </div>
    </div>
  </header>