@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Work+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');

*{
    margin:0px;
    padding:0px;
}

.iconos {
    margin-top: 5px;
    margin-left: 40px;
    position: relative;
}

.iconos img {
    width: 15px;
}

.bodyHome{
    background-image: url("../img/emilia-home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: right;
}

nav a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

#navegadorHome {
    margin-left: 40px;
    margin-top: 15px;
}

#h2Home{
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        width: 250px;
        position: absolute;
        font-size: 20px;
        margin-top:170px;
        margin-left: 40px;
}

#h1Home{
    position: absolute;
    text-transform: uppercase;
    background-color: rgba(250, 250, 200, 0.2);
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    margin-left: 20px;
    margin-top: 400px;
}

#bodyAbout{
    background-image: url("../img/emilia-about.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#h1About{
    margin-top: 240px;
    margin-left: 40px;
    text-transform: uppercase;
    width: 300px;
    font-size: 50px;
}

#citaAbout1{
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #44a391;
    width: 440px;
    font-size: 22px;
}


#citaAbout2{
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #44a391;
    width: 260px;
    font-size: 22px;
}

#autorCita{
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #44a391;
    font-size: 12px;
    font-weight: lighter;
}

#citasAbout{
    float: left;
}

#menuHor{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

#navegadorHor{
    background-color: rgba(250, 250, 200, 0.3);
    padding: 0;
}

#navegadorHor li{
    display: inline;
}

#navegadorHor li a{
    text-transform: none;
    color: gray;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.iconosMenuHor {
    margin-top: 5px;
    margin-left: 250px;
    position: relative;
}

.iconosMenuHor img {
    width: 15px;
}

#bodyContact{
    width: 600px;
    margin: 0 auto;
}

.menuContact{
    float: right;
}

#mapa{
    width: 700px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#h1Contact{
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    margin-top: 40px;
}

#h4Contact{
    color: black;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    text-decoration-style: none;
}

#h5Contact{
    text-transform: uppercase;
    color: #4fb19d;
    font-family: "Open Sans", sans-serif;
}

#contact{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

#mailto{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: black;
}

#bodyMusic{
    margin: 0 auto;
    width: 900px;
    background-image: url('../img/emilia-music-top.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size:70%;
}

#navegadorHorMusic{
    position: relative;
    margin-left: 500px;
    margin-top: 40px;
    background-color: rgba(250, 250, 200, 0.3);
    padding: 0;
    z-index: 10;
}

#navegadorHorMusic li{
    display: inline;
}

#navegadorHorMusic li a{
    text-transform: none;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.iconosMusic {
    margin-top: 5px;
    margin-left: 750px;
    position: relative;
}

.iconosMusic img {
    width: 15px;
}

#h1Music{
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
    text-transform: uppercase;
}

#h5Music{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

#linksMusic{
    margin-top: 20px;
    font-size: 12px;
    list-style: none;
}

#linksMusic a{
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

#h3Music{
    margin-top: 30px;
}

#h3Music h3{
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}

#h3Music img{
    width: 50%;
}

.playlist{
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
}

.playlist img{
    width: 8px;
}

#GoTop{
    margin-top: 20px;
}

#GoTop a{
    color: black;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 15px;
}

#creditosMusic{
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}