<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Argentina</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f29a46c1ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
  </head>

  <body>

    <header class="header">
      <div class="container header">
        <div class="row">

          <div class="logo col-5 col-md-2">
            <img src="../public/images/logo-mercado-liebre.svg">
          </div>
          
          <div class="busqueda col-6">
            <input  type="text" placeholder="Buscar productos, marcas y más">
            <button type="submit"><i class="fas fa-search"></i></button>
          </div>

          <div class="compra-cuotas col-12 col-md-4">
            <a href="#">
              <i class="fas fa-hand-holding-usd"></i>
              Comprá en cuotas y sin tarjeta de crédito</a>
          </div>

           <!-- Hamburguer menu --> 
          <div class="btn-toggle-navbar">
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="p-1">
              <ul class="menu-ppal">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
              </ul>
              
              <ul class="menu-der">
                <li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
              </ul>
              </div>
            </div>
            <nav class="navbar navbar-dark">
              <button class="navbar-toggler btn-nav-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>

          <!-- Menu md y lg --> 
          <div class="main-navbar container">
            <div class="row">
              <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
              </ul>
      
              <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
              </ul>
            </div>
          </div>



        </div>
      </div>
    </header>

    <div class="banner col-12"></div>

    <div class="principal">
      <div class="container">
        <div class="row">
          <div class="titulo col-12">
            <h2>Basados en tu última visita</h2>
          </div>

          <div class="col-12 col-md-6 col-lg-3">
            <div class="contenedor-prod">
              <div>
                <img class="producto-imagen" src="../public/images/img-cafetera-moulinex.jpg" alt="">
              </div>
              <div class="data">
                    <span>$6.770</span>
                    <span class="dto">40% OFF</span>
                    <i class="fas fa-truck"></i>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="contenedor-prod">
              <div>
                <img class="producto-imagen" src="../public/images/img-macbook-pro-2019.jpg" alt="">
              </div>
              <div class="data">
                    <span>$150.970</span>
                    <span class="dto">10% OFF</span>
                    <i class="fas fa-truck"></i>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="contenedor-prod">
              <div>
                <img class="producto-imagen" src="../public/images/img-tv-samsung-smart.jpg" alt="">
              </div>
              <div class="data">
                    <span>$54.230</span>
                    <i class="fas fa-truck"></i>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="contenedor-prod">
              <div>
                <img class="producto-imagen" src="../public/images/img-cafetera-moulinex.jpg" alt="">
              </div>
              <div class="data">
                    <span>$89.410</span>
                    <span class="dto">20% OFF</span>
                    <i class="fas fa-truck"></i>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </div>

    <div class="principal">
      <div class="container">
        <div class="row">
          <div class="titulo col-12">
            <h2>Ofertas</h2>
          </div>

          <div class="col-12 col-md-6 col-lg-3">
            <div class="contenedor-prod">
              <div>
                <img class="producto-imagen" src="../public/images/img-cafetera-moulinex.jpg" alt="">
              </div>
              <div class="data">
                    <span>$6.770</span>
                    <span class="dto">40% OFF</span>
                    <i class="fas fa-truck"></i>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="contenedor-prod">
              <div>
                <img class="producto-imagen" src="../public/images/img-macbook-pro-2019.jpg" alt="">
              </div>
              <div class="data">
                    <span>$150.970</span>
                    <span class="dto">10% OFF</span>
                    <i class="fas fa-truck"></i>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="contenedor-prod">
              <div>
                <img class="producto-imagen" src="../public/images/img-tv-samsung-smart.jpg" alt="">
              </div>
              <div class="data">
                    <span>$54.230</span>
                    <i class="fas fa-truck"></i>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="contenedor-prod">
              <div>
                <img class="producto-imagen" src="../public/images/img-cafetera-moulinex.jpg" alt="">
              </div>
              <div class="data">
                    <span>$89.410</span>
                    <span class="dto">20% OFF</span>
                    <i class="fas fa-truck"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer col-12 col-lg-4">
            <i class="footer-icon fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          </div>

          <div class="footer col-12 col-md-12 col-lg-4">
            <i class="footer-icon fas fa-gift"></i>
            <h3>Envío gratis desde $ 1.999</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
              </p>
          </div>

          <div class="footer col-12 col-md-12 col-lg-4">
            <i class="footer-icon fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.
            </p>
          </div>
          
          <div class="copyright">
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
          </div>
        </div>
      </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>